body{
    background-color: #AF9884;
}

.home {
    position: relative;
    bottom: 285px;
    left: 650px;
}
.reg {
    position: relative;
    left: 750px;
    bottom: 283px;
}

h1 {
    color: #4E3C2B;
    font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
  width: 985px;
  position: relative;
  bottom: 150px;
  left: 80px;
}
.spisok {
    background-color: #E9CDB5;
    border: solid;
    border-color: #C7A689;
    border-radius: 63px;
    position: relative;
    border-width: 15px;
width: 1000px;
height: 600px;
bottom: 1050px;
left: 50px;

}

.one{
    position: relative;
    color: #4E3C2B;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300px;
    font-style: normal;
    font-size: 48px;
    left: 50px;
}

.two{
    position: relative;
    color: #4E3C2B;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300px;
    font-style: normal;
    font-size: 48px;
    left: 480px;
    bottom: 530px;
}

.devka {
    position: relative;
    left: 1000px;
    bottom: 450px;
    width: 900px;
    height: 900px;
}
