body{
    background-color: #AF9884;
}

.home {
    position: relative;
    bottom: 285px;
    left: 650px;
}
.reg {
    position: relative;
    left: 750px;
    bottom: 283px;
}

li :hover{
    
}

h1 {
    color: #4E3C2B;
    font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
  width: 985px;
  position: relative;
  bottom: 150px;
  left: 80px;
}
.spisok {
    background-color: #E9CDB5;
    border: solid;
    border-color: #C7A689;
    border-radius: 63px;
    position: relative;
    border-width: 15px;
    width: 1000px;
    height: 600px;
    bottom: 1050px;
    left: 50px;

}

.one{
    position: relative;
    color: #4E3C2B;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300px;
    font-style: normal;
    font-size: 48px;
    left: 50px;
}

.two{
    position: relative;
    color: #4E3C2B;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300px;
    font-style: normal;
    font-size: 48px;
    left: 480px;
    bottom: 530px;
}

.devka {
    position: relative;
    left: 1000px;
    bottom: 450px;
    width: 900px;
    height: 900px;
}

.container {
    position: relative;
  padding: 16px;
  width: 800px;
align-items: center;
left: 500px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #4E3C2B;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}

